@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&famil=Open+Sans&display=swap');

body {
  margin:0;
  padding:0;
  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  font-family: 'IBM Plex Sans KR', sans-serif,'Open Sans', sans-serif;
  text-align: center;
  align-items: center;
  color: #ffd60a;
}

.hidden {
  display: none;
}

.text-white {
  color: white;
  font-weight: bold;
}

/* 헤더 */

.header {
  height: 30px;
  margin: 50px;
}

/* 음악 */
.audio {
  float: left;
}

.audio-form {
  height: 40px;
  width: 40px;
  font-size: 20px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: white;
}

/* 시계 */
#clock {
  font-size: 20px;
  margin-top: -2px;
  letter-spacing: 15px;
  text-shadow: 2px 1px white;
  font-weight: 900;
  float: right;
}
/* 헤드 끝 */

/* 바디 */
/* 날짜 */
#date {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 15px;
}

/* 날씨 */
#weather {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}

/* 로그인 */
.login {
  padding: auto;
  margin-bottom: 50px;
}

#greeting {
  font-size: 30px;
}

.input {
  height: 40px;
  width: 200px;

  margin-right: 15px;

  border: 2px solid #ffd60a;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.7);

  text-align: center;
}

.input-btn {
  height: 35px;
  width: 30px;

  border: 2px solid #ffd60a;
  border-radius: 5px;
  background-color: #ffd60a;

  color: black;

  font-size: 18px;
}


/* 투두 */
.todo {
  padding: auto;
  margin-bottom: 50px;
}

.text-highlight {
  font-size: 20px;
}

#todo-list {
  font-weight: bold;
  text-align: center;
  list-style: circle;
}

#todo-list li{
  margin: 0 200px;
}

#todo-list li button{
  float:right;
  border : none;
  background-color: #ffd60a;
  color: white;
  border-radius: 20%;
}

/* 명연 */
.quote-frame {
  clear: both;
  text-align: center;
  margin-bottom: 30px;
}

.quotes-quote {
  font-size: 20px;
  font-weight: bold;
}

.quotes-author {
  font-size: 16x;
}

.footer {
  text-align: center;
  align-items: center;
  color: white;
}



